.sec1 {
    min-height: 800px;
    display: grid;
    grid-template-rows: 40%;
}
.sec1 .m-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 .m-text h1 {
    font-family: graphire;
    line-height: 100%;
    font-size: 60px;
}
.sec1 .s- {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
}
.sec1 .s- .s-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 .s- .s-text h2 {
    font-family: legquinne;
    line-height: 100%;
    font-size: var(--h2-size);
}
.sec1 .s- .image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 .s- .image::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 70%;
    background: linear-gradient(to left, #0000, #f00, #0000);
    transform: translateY(-22.5px);
}
.sec1 .s- .image::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 80%;
    background: red;
    transform: translateY(-22.5px);
    z-index: 1;
    filter: blur(20px);
}
.sec1 .s- .image .image-content {
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    mask-image: linear-gradient(
        to top,
        #0000,
        var(--background) 60% 40%,
        #0000
    );
}
.sec1 .s- .image .image-content::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 50%;
    background: red;
    transform: translateY(-27.5px);
    z-index: 1;
    filter: blur(50px);
}
.sec1 .s- .image .image-content img {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(
        to right,
        #0000,
        var(--background) 60% 40%,
        #0000
    );
}
/* section one */

.sec2 .content {
    min-height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.sec2 .content .card {
    position: relative;
    background: #3f3f3f3a;
    background: linear-gradient(to top left, #3f3f3f3a, #00000030);
    padding: 20px;
    overflow: hidden;
    /* box-shadow: 0 10px 20px #0000007e; */
    border-top: 1px solid rgba(104, 104, 104, 0.055);
    border-left: 1px solid rgba(104, 104, 104, 0.055);
}
.sec2 .content .card span {
    font-size: 150px;
    line-height: 100%;
    color: #ffffff18;
}
.sec2 .content .card h3 {
    padding: 10px 0;
}
/* section two */

.container .sec3 {
    margin: 200px 0 100px 0;
}
.sec3 .image {
    border-radius: 10%;
    height: 600px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    mask-image: linear-gradient(
        to top,
        #0000,
        var(--background) 40% 50%,
        #0000
    );
}
.sec3 .image img {
    border-radius: 10%;
    height: auto;
    width: 100%;
    mask-image: linear-gradient(
        to right,
        #0000,
        var(--background) 50% 50%,
        #0000
    );
}
[data-img] {
    position: relative;
}
[data-img="l"] {
    margin: auto;
    width: 100%;
    object-fit: cover;
}
/* section three */

.sec4 .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.sec4 .content .card {
    border-radius: 20px;
    height: 350px;
    box-shadow: 0 0 20px #111;
    border-top: 1px solid rgba(104, 104, 104, 0.055);
    border-left: 1px solid rgba(104, 104, 104, 0.055);
    background: #3f3f3f3a;
    background: linear-gradient(to top left, #3f3f3f3a, #00000030);
}
.sec4 .content .card .image {
    height: 200px;
    width: 100%;
    padding: 10px;
}
.sec4 .content .card .image img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.sec4 .content .card .text {
    padding: 5px 20px 20px 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.sec4 .content .card .text p {
    color: #888888;
}

.sec4 .content .card:nth-child(3) {
    position: relative;
    grid-column: span 2;
    overflow: hidden;
    border: 10px solid var(--background);
}
.sec4 .content .card:nth-child(3) .image {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.sec4 .content .card:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, #000, #0000);
}
.sec4 .content .card:nth-child(3)::after {
    content: "Best Seller \A This Week";
    white-space: pre;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    font-family: Legquinne;
    line-height: 100%;
    font-size: 40px;
    padding: 0 20px;
    transform: translateY(-10px);
}

/* section three */
/* section three */

/* responsive */
@media screen and (max-width: 1680px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1360px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 885px) {
}
@media screen and (max-width: 430px) {
}
@media screen and (max-width: 390px) {
}
